---
layout: layout
title: Main Visual
---

<div class="section-01">
  <h2 class="heading">データを活用してプランを作ろう</h2>
  <p class="text">
    日々の活動データとグローバルに集積されたデータを元に効果的に目標達成を達成できるプランを作成
  </p>
  <button class="button">無料ではじめる</button>
  <img
    src="/assets/rome/1.jpg"
    alt=""
    class="photo img-fill"
    width="1724"
    height="2218"
  />
</div>

<div class="section-02">
  <h2 class="heading">データを活用してプランを作ろう</h2>
  <p class="text">
    日々の活動データとグローバルに集積されたデータを元に効果的に目標達成を達成できるプランを作成
  </p>
  <button class="button">無料ではじめる</button>
  <img
    class="photo img-fill"
    src="../assets/rome/1.jpg"
    alt=""
    width="1724"
    height="2218"
  />
</div>

<div class="section-02-image">
  <h2 class="heading">データを活用してプランを作ろう</h2>
  <p class="text">
    日々の活動データとグローバルに集積されたデータを元に効果的に目標達成を達成できるプランを作成
  </p>
  <button class="button">無料ではじめる</button>
  <img
    class="photo img-fill"
    src="../assets/rome/1.jpg"
    alt=""
    width="1724"
    height="2218"
  />
</div>

<div class="section-02-image-reverse">
  <h2 class="heading">データを活用してプランを作ろう</h2>
  <p class="text">
    日々の活動データとグローバルに集積されたデータを元に効果的に目標達成を達成できるプランを作成
  </p>
  <button class="button">無料ではじめる</button>
  <img
    class="photo img-fill"
    src="../assets/rome/1.jpg"
    alt=""
    width="1724"
    height="2218"
  />
</div>
